.portada{   
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.most-views{
    text-align: center;
}
.d-block{
    height: 500px;
    width: 200px;
}
.s-block{
    height:900px;
}
.row2{
    text-align: center;
}
body{
    /*ajuste de tamaño*/
    width: 90%;
    margin: 0 auto;
    min-width: 700px;
    max-width: 2000px;
    /*imagen de fondo*/
    background-size: cover;
    background-position: center center;
    background-image: url(https://fondosmil.com/fondo/31133.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
li{
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0;
    text-align: left;
}
ul{
    list-style: none;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
}
a{
    color:blueviolet;
}