body{
    background: url(../img/LoginBackground.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 90%;
    margin: 0 auto;
    min-width: 500px;
    max-width: 2000px;
}
.box{
    background: rgba(148, 124, 192, 0.603);
    width: 420px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 2%;
}
.box .login{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
li{
    letter-spacing: 2vmax;
    letter-spacing: 0vmin;
    font-weight: 600;
    margin: 0;
    text-align: left;
}
ul{
    list-style: none;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
}