.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}

label{
	font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:0px;
}
body{
    /*ajuste de tamaño*/
    width: 90%;
    margin: 0 auto;
    min-width: 500px;
    max-width: 2000px;
    /*imagen de fondo*/
    background-size: cover;
    background-position: center center;
    background-image: url(https://fondosmil.com/fondo/31133.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}