body{
    /*ajuste de tamaño*/
    width: 90%;
    margin: 0 auto;
    min-width: 500px;
    max-width: 2000px;
    /*imagen de fondo*/
    background-size: cover;
    background-position: center center;
    background-image: url(https://fondosmil.com/fondo/31133.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
li{
    letter-spacing: 2vmax;
    letter-spacing: 0vmin;
    font-weight: 600;
    margin: 0;
    text-align: left;
}
ul{
    list-style: none;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
}
a{
    color:blueviolet;
}
hr{
    border-color: white;
    border-width: initial;
}
.box{
    background: rgba(120, 115, 129, 0.603);
    max-width: 2000px;
    min-width: 500px;
    width: 90%;
    min-height: 600px;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border-radius: 2%;

    font-size: 1.2em;
    padding: .8em 2em;
    position: relative;
}
