#sidebar{
    top: 0px;
    background: white;
    position: fixed;
    width: 300px;
    height: 100%;
    left: 1550px;
}
#sidebar.acti{
    left: 1250px;
}
#sidebar ul{
    margin-top: 50px;
}
#sidebar ul li{
    color: black;
    text-align: left;
    padding: 15px 10px;
    list-style: none;  
    height: 50px;
    border-bottom: 1px solid rgba(100, 100, 100, .9);
}
#sidebar .toggle-btn{
    position: absolute; 
    right: 330px;
    top: 5px;
    cursor: pointer;
}
#sidebar .toggle-btn span{
    display: block;
    width: 40px;
    text-align: center;
    font-size: 25px;
    border: 1px solid black;
}
