<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Space</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="BarraDeNavegacion">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="../templates/home.html"> Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Servicios</a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Registrarse</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content"  id="Portada" >
        <img src="../img/logo.png"/>
    </div>
    <section class="most-views">
        <div class="titles">
            <div class="col-sm-12">
                <h3>Más vistos</h3>
                <div class="separador"></div>
            </div>
        </div>
    </section>
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ws-footer-col">
                    <a href="home.html"> 
                        <img src="../img/logo.png" width="100px" alt class="img-responsive">
                    </a>
                    <div class="ws-footer-separator"></div>
                    <div class="ws-footer-about">
                        <p>
                            holi
                        </p>
                    </div>
                </div>
                <div class="col-sm-2 ws-footer-col">
                    <h3>Soporte</h3>
                    <div class="ws-footer-separator"></div>
                    <ul>
                        <li>
                            <a href="">Quienes somos</a>
                        </li>
                        <li>
                            <a href="">Servicios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-bar">
        <div class="container">
            <div class="pull-left">
                <p>© 2020 Copyright ArtSpace</p>
            </div>
        </div>
    </div>
</body>

</html>