<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ArtSpace| Registrarse</title>
  <link rel="icon" type="image/png" href="../img/logo.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/signup.css">
  <script src="../scripts/signup.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="../templates/home.html"> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/about.html"> Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/services.html"> Servicios</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="login.html">Iniciar Sesión</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="signup.html">Registrarse <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <form class="container" onsubmit="validaciones(event)" method="POST">
    <div class="box">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="EmailPer">Email</label>
          <input type="email" class="form-control" id="EmailPer">
        </div>
        <div class="form-group col-md-6">
          <label for="Pass">Contraseña</label>
          <input type="password" class="form-control" id="Pass">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="EmailCont">Email de negocios</label>
          <input type="email" class="form-control" id="EmailCont">
        </div>
        <div class="form-group col-md-6">
          <label for="Pass">Confirmar contraseña</label>
          <input type="password" class="form-control" id="PassCom">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="Nombre">Nombres</label>
          <input type="text" class="form-control" id="Nombres">
        </div>
        <div class="form-group col-md-4">
          <label for="NomArt">Nombre Artistico</label>
          <input type="text" class="form-control" id="NomArt">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="PaisCom">País</label>
          <select class="form-control" id="PaisCom">
            <option selected>País aquí...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="CiudadCom">Ciudad</label>
          <select id="CiudadCom" class="form-control">
            <option selected>Ciudad aquí...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="Edad">Edad</label>
          <input type="text" class="form-control" id="Edad">
        </div>
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
  </form>
</body>

</html>