<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtSpace| Mantenedor Ciudades</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/logo.png')}}">
    
    <!--Links Externos para el mantenedor -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mantenedores.css') }}">

     <!--Función externa para filtrado del mantenedor-->
     <script type="text/javascript">
        $(document).ready(function () {
            $('#userList').DataTable({
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
            });
        });

        $(document).on("click", ".btnEditar", function () {
            fila = $(this).closest("tr");
            cod = fila.find('th:eq(0)').text();
            nom = fila.find('td:eq(0)').text();
            console.log(cod)
            console.log(nom)
            $("#txtCodEdit").val(cod.trim())           
            $("#txtNomEdit").val(nom.trim())
        });
    </script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('homelog') }}"> Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('aboutlog') }}"> Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('serviceslog') }}"> Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('piece') }}"> Subir Obra</a>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Gestiones
                            </button>
                            <div class="dropdown-menu" style="width: max-content;">
                                <a class="nav-link" href="{{ url_for('country')}}">Gestión Paises</a>
                                <a class="nav-link" href="{{ url_for('city')}}">Gestión Ciudades</a>
                                <a class="nav-link" href="{{ url_for('style')}}">Gestión Estilos</a>
                                <a class="nav-link" href="{{ url_for('admin')}}">Gestión Administrador</a>
                                <a class="nav-link" href="{{ url_for('login')}}" onclick="logout()">Cerrar Sesión</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab"
                        aria-controls="list" aria-selected="false">Lista de Ciudades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form"
                        aria-selected="true">Añadir Ciudad</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4>Ciudades</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="userList" class="table table-bordered table-hover table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">País</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for city in cities %}
                                        <tr>
                                            <th scope="row">{{city.0}}</th>
                                            <td>{{city.1}}</td>
                                            <td>{{city.2}}</td>
                                            <td>
                                                <a class="nav justify-content-center btnEditar" data-toggle="tab" href="#formEdit"><i
                                                        class="fas fa-edit"></i></a>
                                            </td>
                                            <td>
                                                <a class="nav justify-content-center" 
                                                    href="/mantenedorPais/{{city.0}}"><i
                                                        class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4>Información de la Ciudad</h4>
                        </div>
                        <div class="card-body">
                            <form class="form" method="POST" autocomplete="off" action="/mantenedorCiudad">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Código</label>
                                    <div class="col-lg-9">
                                        <input name="txtCod" id="txtCod" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
                                    <div class="col-lg-9">
                                        <input name="txtNom" id="txtNom" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">País</label>
                                    <div class="col-lg-9">
                                        <select class="custom-select" id="txtPais" name="txtPais" required>
                                            <option selected disabled value="">País</option>
                                            {% for country in countries %}
                                            <option value="{{ country.0 }}">{{ country.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12 text-center">
                                        <input type="reset" class="btn btn-secondary" value="Cancelar">
                                        <input id="btnAcept" name="btnAcept" type="submit" class="btn btn-primary"
                                        value="Insertar">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" name="formEdit" id="formEdit">
                    <div class="card">
                        <div class="card-header">
                            <h4>Información del País</h4>
                        </div>
                        <div class="card-body">
                            <form class="form" method="POST" action="/mantenedorPais">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Código</label>
                                    <div class="col-lg-9">
                                        <input id="txtCodEdit" name="txtCodEdit" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
                                    <div class="col-lg-9">
                                        <input id="txtNomEdit" name="txtNomEdit" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12 text-center">
                                        <input onclick="window.location.reload()" style="width: 100px;" class="btn btn-secondary" value="Cancelar">
                                        <input id="btnEditar" name="btnAcept" type="submit" class="btn btn-primary"
                                            value="Editar">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>